body{
    background-image: url("./assests/movies.jpg");
    background-repeat:no-repeat;
    background-size: cover; 
    opacity:0.9;
    width:100%;
}
.selectList{
    width:224px;
    height:38px;
    border-radius: 5px;
}