/* .modal-color{
    background-color: whitesmoke;
} */
body{
    /* background-color:rgb(80, 152, 180);  */
    background-image: url("./assests/wp2252568.jpg");
    background-repeat:no-repeat;
    background-size: cover; 
    opacity:0.9;
    width:100%;
}